<footer class="color p-5 text-white d-flex justify-content-around text-center fs-5">
    <div>
        <h2>Location</h2>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
    </div>
    <div>
        <h2>AROUND THE WEB</h2>
        <div class="icons d-flex justify-content-center pt-4">
            <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
            <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
        </div>
    </div>
    <div>
        <h2>ABOUT FREELANCER</h2>
        <p>Freelance is a free to use, licensed Bootstrap <br> theme created by Route</p>
    </div>
</footer>
<div class="last text-center py-3 fs-5">
    <p>Copyright © Your Website 2021</p>
</div>