<div class="aboutBody text-white d-flex flex-wrap justify-content-center align-items-center py-5 mt-5">
    <div class="pt-5 mt-5">
        <h1 class="fw-bold">ABOUT COMPONENT</h1>
        <div class="d-flex justify-content-center py-4">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star fa-lg" style="color: #ffffff;"></i>
            <div class="line ms-3"></div>
        </div>
    </div>
    <div class="row fs-5 d-flex justify-content-center align-items-center pb-5">
        <p class="col-md-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        <p class="col-md-4">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
</div>